body{
  margin: 0;
  font-family: tahoma,sans-serif;
  background-color: #eee;
  color: #333;}
 h1 {
  text-align: center;
}

.container{
  width: 1140px;
  margin:0 auto;
  outline: 3px dotted green;
}
/*parent dir in KRKA1  */
section{
  display: flex;

}
.normal{
  display: inline;
}
article{
  font-weight: 400;
  background-color:#fff;
  padding: 10px;
  text-align: justify;
  outline: 3px dotted blue;
  margin: 10px;
       }
    .aa{
         background-color: green;
         color: #fff;
       }

.flex-item {
    height: 100px;
  width: 200px;
    margin: 3px;
      justify-content: center;
    align-items: center;
}
.one{
  background-color: tomato;

}
.two{
  background-color: green;

}
.three{
  background-color: pink;

}
.four{
background-color: blue;

}
/*parent dir in KRKA2  */
.krka2 .flex-item{
  height: 100px;
  width: 200px;
}
.krka2{
  display:flex;
  text-align: center;
  justify-content: flex-end;
}
.krka22 .flex-item{
  height: 100px;
  width: 200px;}
.krka22{
display: flex;
text-align: center;
justify-content: center;
  }


  .oone{
    background-color: red;

  }
  .ttwo{
    background-color: green;

  }
  .tthree{
    background-color: blue;

  }
.ffour{
background-color: #1a1a00;
color: #fff;

}
.krka222 {
  display: flex;
}
.krka222a {
  display:flex;
 flex-direction: row-reverse;
}
.krka222b {
  /* display:flex; */
}
.krka222c {
  display:flex;
 flex-direction:column-reverse;
 }
/* ORDER************************ */
.order{
  display: flex;
}

.order .flex-iitem {
  display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: bold;
flex-grow:1;
}
/* first order list.............................. */
.one1{
  background-color: red;
  order: 1;
}
.two1{
  background-color: green;
  order: 2;
}
.three1{
  background-color: blue;
  order: 3;
}
.four1{
background-color: #1a1a00;
color: #fff;
order: 4;
}
.five1{
background-color: pink;
order: 5;
}
/* the second order list.............................. */
.one2{
  background-color: red;
  order: 5;
}
.two2{
  background-color: green;
  order: 4;
}
.three2{
  background-color: blue;
  order: 3;
}
.four2{
background-color: #1a1a00;
color: #fff;
order: 2;
}
.five2{
background-color: pink;
order: 1;
}
/* third order list.............................. */
.one3{
  background-color: red;
  order: 4;
}
.two3{
  background-color: green;
  order: 1;
}
.three3{
  background-color: blue;
  order: 2;
}
.four3{
background-color: #1a1a00;
color: #fff;
order: 5;
}
.five3{
background-color: pink;
order: 3;
}
/* KRKA 4*********************** */
.osnova{
display: flex;
color: #fff;
}
.prva{
  flex-basis: 100px;
  font-weight: bold;
  background-color:yellow;
color: #111;
}
.druga{
  flex-basis: 200px;
  font-weight: bold;
  background-color:red;
}
.tri{
  flex-basis: 400px;
  font-weight: bold;
  background-color:blue;
    }
